<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio rk-main">
  <div class="au-xs-ta-center au-lg-ta-left">
    <ul class="rk-menu rk-categories-menu">
      <li class="active rk-menu__item"><a href="portfolio.html" class="rk-menu__link">Flex</a>
      </li>
      <li class="rk-menu__item"><a href="portfolio-alt.html" class="rk-menu__link">Switch</a>
      </li>
      <li class="rk-menu__item"><a href="portfolio-raw.html" class="rk-menu__link">Static</a>
      </li>
      <li class="rk-menu__item"><a href="portfolio-masonry.html" class="rk-menu__link">Masonry</a>
      </li>
    </ul>
  </div>
  <div class="rk-portfolio__items"><a href="portfolio-item.html" class="rk-item rk-item--flex item-1 rk-size-12 rk-tosize-6 rk-landscape ">
      <div class="item-meta">
        <h2>Essential Stationery</h2>
        <p>Branding</p>
      </div></a>
      
      
    
  </div>
</section>